<html>
	<head>
		<title>Short.Links | create the links of your dreams</title>
		
	 	    <div id="background">
			    <img src="https://www.phyramid.com/images/blog/making-phyramid-coms-procedurally-rendered-3d-header/header-background-indexed.png" class="stretch" alt=""/>
			</div>  
			 	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
			 	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
			 	
				
				<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>

	<body>
		<%= yield %>
			<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
					<script src="/js/application.js"></script>
	</body>

</html>